<!-- Login Form Start -->
<div id="form-style" class="col-md-4">
  <form action="/create-session-user" method="POST">
    <h4 class="mb-4" style="text-align: center;">Login</h4>
    <div class="row g-3">
      <div class="col-12">
        <input type="email" name="email" class="form-control" placeholder="Email" required>
      </div>
      <div class="col-12">
        <input type="password" name="password" class="form-control" placeholder="Password" required>
      </div>
      <div class="col-12">
        <button class="btn btn-primary w-100" type="submit">Submit</button>
      </div>
      <div class="col-12">
        Dont't Have Account ? <a href="/sign-up" class="btn-alink">Register</a>
      </div>
    </div>
  </form>
</div>
<!-- Login Form End -->
<footer class="footer mt-auto py-3 bg-dark">
  <div class="container">
    <span class="text-white">&copy; 2023 Employee Review System | All Rights Reserved</span>
  </div>
</footer>